*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #e66465, #9198e5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.zero { grid-area: zero; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
#point { grid-area: point; }
.divide { grid-area: divide;}
.percent { grid-area: percent;}
.multiply { grid-area: multiply; }
.subtract { grid-area: subtract; }
.add { grid-area: add;}
.AC { grid-area: AC;}
.DEL { grid-area: DEL; }

.divide, .percent, .multiply, .subtract, .add {
    background-color: orange;
}

.AC, .DEL {
    background-color: firebrick;
}

.equals { 
    grid-area: equals; 
    background-color:azure;
}

.calculatorBackground {
    border: 1px solid black;
    display: grid;
    background-color: #e4eee9;
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
    border-radius: 20px;
    box-shadow: 5px 10px;
    padding-top: 30px;
    padding-left: 10px;
    justify-content: center;
    align-content: center;
    width: 435px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(4, 100px);
    grid-row: minmax(120px, auto) repeat(5, 100px);
    grid-template-areas: 
    "display display display display"
    "AC DEL . divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero point equals equals"; 

}  

button {
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: grey;
    height: 50px;
    border: 0px;
    box-shadow: 1px 2px;
}

button:hover {
    background-color: lightgrey;
}

button.DEL:hover, button.AC:hover {
    background-color: pink;
}

button.divide:hover, button.percent:hover, button.multiply:hover,
 button.subtract:hover, button.add:hover{
    background-color: yellow;
}

#point:hover {
    background-color: lightgrey;
}

button.equals:hover {
    background-color: whitesmoke;
}

.display {
    grid-area: display;
    box-shadow: inset 0 0 7.5px black;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: slateblue;
    min-height: 130px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.previousNum {
    font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #111;
    font-size: x-large;
    
}