*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #e66465, #9198e5);
    
}


.zero { grid-area: zero; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.point { grid-area: point; }

.divide, .percent, .multiply, .subtract, .add {
    grid-area: divide, percent, multiply, subtract, add;
    background-color: orange;
}

.AC, .DEL {
    grid-area: AC, DEL;
    background-color: lightcoral;

}

.equals { grid-area: equals; 
    background-color: lightblue;
}


.calculatorBackground {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(4, 100px);
    grid-row: minmax(120px, auto) repeat(5, 100px);
    grid-template-areas: 
    "display display display display"
    "AC DEL percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero point equals equals"; 

}  

button {
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: grey;
    height: 50px;
    border: 0px;

}

.calculatorBackground > button:hover {
    background-color: pink;

}

.display {
    grid-area: display;
    background-color: slateblue;
    min-height: 120px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.previousNum {
    font-size: 20px;
}

.DEL > button:hover {
    background-color: red;
}

/*

Save incase this breaks something

.divide { grid-area: divide;
    background-color: orange;
}

.percent { grid-area: percent; 
    background-color: orange;

}
.multiply { grid-area: multiply; 
    background-color: orange;
}

.subtract { grid-area: subtract; 
    background-color: orange;
}

.add { grid-area: add;
    background-color: orange;
 }

 
.AC { grid-area: AC;
    background-color: salmon;
}
.DEL { grid-area: DEL; 
    background-color: salmon;
}
*/

